<div class="modal-header">
    <h5 class="modal-title">{{ item.clone_name }}</h5>
</div>
<div class="modal-body">
    <div class="alertDiv">{{alertLabel}}</div>
    
    <video [src]="currentVideo" #customCloneVideoElement autoplay loop></video>

    <button class="toggleChat" (click)="toggleChatStyle()">{{ buttonLabel }} <mat-icon>compare_arrows</mat-icon></button>
    
    <div *ngIf="showTextChat" class="text-to-voice-chat-wrapper">
        <input type="text" [(ngModel)]="textToSend" placeholder="Enter your prompt">
        <button (click)="sendAndReceiveText(item.clone_name, item.voice_id)">Submit to {{ item.clone_name }}</button>
    </div>

    <div *ngIf="showVoiceChat" class="voice-to-voice-wrapper">
        <app-voice-recon #voiceRecon (voiceReconEvent)="sendMessageToCloneVoiceRecon($event, item.clone_name, item.voice_id)"></app-voice-recon>
    </div>
     
</div>

<div class="modal-footer">
    <div *ngIf="showVoiceChat" class="voice-to-voice-wrapper">
        <p>If you are silent for too long during a chat, you can <a (click)="restartVoiceReconDueToSilence()">restart</a> the voice Recognition service to continue the conversation</p>
    </div>
    <p>Current Response: {{currentResponse}}<p>
    <p>Voice ID: {{ item.voice_id }}</p>
</div>
    

