$blue: #0052a0;
$charcoal: #36454f;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$speaker-for-dead-front-end-primary: mat.define-palette(mat.$indigo-palette);
$speaker-for-dead-front-end-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$speaker-for-dead-front-end-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$speaker-for-dead-front-end-theme: mat.define-light-theme((
  color: (
    primary: $speaker-for-dead-front-end-primary,
    accent: $speaker-for-dead-front-end-accent,
    warn: $speaker-for-dead-front-end-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($speaker-for-dead-front-end-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
  background-color: $blue;
  color: white;
  border: 1px solid $blue;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.3s ease;

  &:hover {
    color: $blue;
    background-color: white;
    border: 1px solid $blue;
  }

  .mat-iconP {
    padding-top: 3px;
  }
}

button[disabled] {
  opacity: 0.2;

  &:hover {
    cursor: not-allowed;
  }
}
