$blue: #0052a0;
$charcoal: #36454f;

.custom-clones-wrapper{

    margin-top: 25px;
    margin-bottom: 25px;

    h2{
        color: $blue;
        text-align: center;
        margin-bottom: 25px;
    }
}