$blue: #0052a0;
$charcoal: #36454f;

.header {
    background-color: $blue;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    animation: colorChange 5s linear infinite;
    border-bottom: 5px solid $charcoal;

    a{
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
        text-decoration: none;
        display: block;
        color: white;
        margin-left: 25px;
        transition: color 0.3s ease;
        &:hover{
            color: $charcoal;
        }
    }

    .mat-icon{
        margin-right: 10px;
        position: absolute;
        left: 5px;
    }
}

h2 {
    text-align: center;
    font-size: 22px;
    margin-top: 75px;
}

.footer {
    border-top: 2px solid $blue;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $charcoal;

    img {
        max-height: 125px;
    }

    .right-img {
        float: right;
    }

    .text-col {
        font-size: 12px;
        color: white;
    }
}

@keyframes colorChange {
    0% {
        background-color: $blue;
        /* Initial color */
    }

    50% {
        background-color: #0077cc;
        /* Midpoint color */
    }

    100% {
        background-color: $blue;
        /* Final color */
    }
}

